@using Biugra.Web.Models

@{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/assets/vendor/jquery/jquery.min.js"></script>


    @if (!string.IsNullOrEmpty(ViewBag.message))
    {
        <script language="javascript">
            $(document).ready(function () {
               
                Swal.fire({
                    icon: 'success',
                    title: '@ViewBag.message',
                    showConfirmButton: false,
                    timer: 2000
                })
            });
        </script>
        ViewBag.message = null;
    }

}


@model ProfileViewModel
<div class="content">

    <!-- Start Content-->
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-sm-12">
                <!-- Profile -->
                <div class="card bg-primary">
                    <div class="card-body profile-user-box">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <div class="avatar-lg">
                                            <img src="~/assets/images/users/avatar-1.jpg" alt="" class="rounded-circle img-thumbnail">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <h4 class="mt-1 mb-1 text-white">@(Model.User.FirstName != null ? @Model.User.FirstName : " ") @(Model.User.LastName != null ? Model.User.LastName : " ")</h4>

                                            <ul class="mb-0 list-inline text-light">
                                                <li class="list-inline-item me-3">
                                                    <h5 class="mb-1 text-white">@Model.Wallet.Balance BP</h5>
                                                    <p class="mb-0 font-13 text-white-50">Toplam BP Puanı</p>
                                                </li>
                                                <li class="list-inline-item">
                                                    <h5 class="mb-1 text-white">@Model.Forums.Count()</h5>
                                                    <p class="mb-0 font-13 text-white-50">Açılan Forum Sayısı</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col-->

                            <div class="col-sm-4">
                                <div class="text-center mt-sm-0 mt-3 text-sm-end">
                                    <a asp-action="EditProfile" asp-controller="Account" class="btn btn-light">
                                        <i class="mdi mdi-account-edit me-1"></i> Profili Düzenle
                                    </a>
                                </div>
                            </div> <!-- end col-->
                        </div> <!-- end row -->

                    </div> <!-- end card-body/ profile-user-box-->
                </div><!--end profile/ card -->
            </div> <!-- end col-->
        </div>
        <!-- end row -->


        <div class="row">
            <div class="col-xl-2">
                <!-- Personal-Information -->
                <!-- Personal-Information -->


            </div> <!-- end col-->

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mt-0 mb-3">Kullanıcı Bilgileri</h4>
                        <div class="text-start">
                            <p class="text-muted"><strong>Ad Soyad :</strong> <span class="ms-2">@Model.User.FirstName @Model.User.LastName</span></p>

                            <p class="text-muted"><strong>Yaş :</strong><span class="ms-2">@Model.User.Age</span></p>

                            <p class="text-muted"><strong>Lise :</strong><span class="ms-2">@Model.User.HighSchool</span></p>

                            <p class="text-muted"><strong>Email :</strong> <span class="ms-2">@Model.User.Email</span></p>

                            <p class="text-muted"><strong>Adres :</strong> <span class="ms-2">@Model.User.Address</span></p>

                            @*<p class="text-muted mb-0" id="tooltip-container">
                            <strong>Elsewhere :</strong>
                            <a class="d-inline-block ms-2 text-muted" data-bs-container="#tooltip-container" data-bs-placement="top" data-bs-toggle="tooltip" href="" title="Facebook"><i class="mdi mdi-facebook"></i></a>
                            <a class="d-inline-block ms-2 text-muted" data-bs-container="#tooltip-container" data-bs-placement="top" data-bs-toggle="tooltip" href="" title="Twitter"><i class="mdi mdi-twitter"></i></a>
                            <a class="d-inline-block ms-2 text-muted" data-bs-container="#tooltip-container" data-bs-placement="top" data-bs-toggle="tooltip" href="" title="Skype"><i class="mdi mdi-skype"></i></a>
                            </p>*@

                        </div>
                    </div>
                </div>

                <!-- end row -->


                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Açtığım Forumlar (@Model.Forums.Count())</h4>

                        <div class="table-responsive">
                            <table class="table table-hover table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th>Yorum Sayısı</th>
                                        <th>Yararlılık Durumu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Forums)
                                    {
                                        <tr>
                                            <td><a asp-action="Detail" asp-controller="Forum" asp-route-id="@item.Id"><span class="badge bg-primary" style="font-size:15px">@(item.Title.Length > 10 ? item.Title.Substring(0, 10) : item.Title)</span></a></td>
                                            <td>@Html.Raw(@item.Description.Length>100 ? item.Description.Substring(0,100) : item.Description)</td>
                                            <td><span class="badge bg-primary" style="font-size:20px">@(item.Comments.Count() != 0? item.Comments.Count : "0")</span></td>
                                            <td>@Html.Raw(item.IsHelpfull ? "<span class ='badge bg-success' '>Evet</span>" : "<span class ='badge bg-danger''>Hayır</span>")</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div> <!-- end table responsive-->
                    </div> <!-- end col-->
                </div> <!-- end row-->
                <!-- Chart-->
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Güncel Hizmetlerim</h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-centered mb-0">
                                <thead>
                                    <tr>
                                        <th>Başlık</th>
                                        <th>Açıklama</th>
                                        <th>Öğretmen</th>
                                        <th>Başlangıç Tarihi</th>
                                        <th>Bitiş Tarihi</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ProvidedServices)
                                    {
                                        <tr>
                                            <td>@item.ProvidedService.Title</td>
                                            <td>@item.ProvidedService.Description</td>
                                            <td>@item.ProvidedService.Teacher.Fullname</td>
                                            <td><span class="badge bg-primary">@item.StartDate.ToString("dd/MM/yyyy")</span></td>
                                            <td><span class="badge bg-primary">@item.EndDate.ToString("dd/MM/yyyy")</span></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End Chart-->

            </div>
            <!-- end col -->

        </div>
        <!-- end row -->

    </div> <!-- container -->

</div> <!-- content -->
@*<link href="//cdn.jsdelivr.net/npm/sweetalert2/theme-dark@4/dark.css" rel="stylesheet">*@

