@using Biugra.Domain.Models.Dtos.Teacher
@using Biugra.Domain.Enums
@model TeacherDTO
<div class="tab-content">
    <div class="tab-pane show active mt-3 mx-3" id="form-row-preview">
        <form asp-action="Update" asp-controller="Teacher" method="post">
            @*<input type="hidden" asp-for="Id" />*@
            <input type="hidden" asp-for="@Model.Id" />
            <div class="row g-2">
                <div class="mb-3 ">
                    <label asp-for="@Model.Fullname" class="form-label"></label>
                    <input asp-for="@Model.Fullname" type="text" class="form-control" />
                </div>
            </div>
            <div class="row g-2">

                <div class="mb-3 col-md-6">
                    <label asp-for="@Model.Age" class="form-label"></label>
                    <input asp-for="@Model.Age" type="number" class="form-control" />
                </div>
                <div class="mb-3 col-md-6">
                    <label asp-for="@Model.Gender" class="form-label"></label>
                    <select class="form-select" asp-for="@Model.Gender" asp-items="@(Html.GetEnumSelectList<Gender>())">
                        <option>@Model.Gender</option>
                    </select>
                    </>
                </div>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <button type="submit" class="btn btn-primary">Güncelle</button>
        </form>
    </div> <!-- end preview-->


</div> <!-- end tab-content-->
